<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container{
        max-width:400px;
        display:grid;
        align-items:center:


    }

    .button{
        width:60px;
        color:green;
    }

</style>
<body>
    
<div class="container">
<form  method="post">
    {% csrf_token %}
<h2>Welcome againe </h2>
<button type="submit" id="pay" style="color:#ffffff; background:#75c26a; width:300px; border-radius:4px">Pay </button>
</form>
</div>
</body>
</html>